
<!-- Page Wrapper -->
<div id="wrapper">
    
    <app-admin-sidebar></app-admin-sidebar>
    
    <!-- Content Wrapper -->
    <div id="content-wrapper">
        
        <!-- Main Content -->
        <div class="container mt-4">
            
            <h1>Employee List</h1>
            
            
            <!-- Search bar -->
            <div class="input-group mb-3" >
                <div class="input-group-append" >
                    <button class="btn btn-outline-primary" type="button" (click)="open({})">Add</button>
                </div>
            </div>

            <!-- Search bar -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search employees" aria-label="Search employees">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
            
            <!-- Employee table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>FirstName</th>
                        <th>lastName</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through employees -->
                    <!-- <tr *ngFor="let employee of employees"> -->
                        <tr *ngFor="let employee of employees">
                        <td>{{employee.id}}</td>
                        <td>{{employee.firstName}}</td>
                        <td>{{employee.lastName}}</td>
                        <td>{{employee.username}}</td>
                        <td>{{employee.email}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary mr-2" (click)="open(employee)">Edit</button>
                            
                            <button class="btn btn-sm btn-danger" (click)="deleteEmployee(employee)">Delete</button>
                        </td>
                    </tr>
                    <!-- Repeat rows for other employees -->
                </tbody>
            </table>
     
            <ngb-pagination
                [collectionSize]="employeeSearchOptions.totalElements"
                [(page)]="currentPage"
                [boundaryLinks]="true"
                (pageChange)="pageChange($event)" />
        </div>
        
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <!-- <span>Copyright &copy; Your Website 2021</span> -->
                </div>
            </div>
        </footer>
    </div>
    <!-- End of Content Wrapper -->
    
</div>
<!-- End of Page Wrapper -->
  
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Footer -->
